.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.mat-elevation-z8 {
  overflow-x: auto;
  min-width: 60%;
  margin-left: 20%;
}

.mat-column-acciones {
  width: 120px;
  text-align: center;
}
