<div class="container">
  <div class="header">
    <h2>Listado de Ejercicios</h2>

    <!-- Botón para crear nuevo ejercicio (Floating Action Button) -->
    <button
      mat-fab
      color="primary"
      [routerLink]="'/home/ejercicios/crear'"
      aria-label="Crear ejercicio"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <!-- Tabla de ejercicios -->
  <table mat-table [dataSource]="ejercicios" class="mat-elevation-z8">
    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let ejercicio">{{ ejercicio.nombre }}</td>
    </ng-container>

    <!-- Descripción -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let ejercicio">{{ ejercicio.descripcion }}</td>
    </ng-container>

    <!-- Grupo Muscular -->
    <ng-container matColumnDef="grupoMuscular">
      <th mat-header-cell *matHeaderCellDef>Grupo Muscular</th>
      <td mat-cell *matCellDef="let ejercicio">
        {{ ejercicio.grupoMuscular }}
      </td>
    </ng-container>

    <!-- Dificultad -->
    <ng-container matColumnDef="dificultad">
      <th mat-header-cell *matHeaderCellDef>Dificultad</th>
      <td mat-cell *matCellDef="let ejercicio">{{ ejercicio.dificultad }}</td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let ejercicio">
        <button mat-icon-button color="accent">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
